* {
   padding:0;
   margin:0;
   vertical-align:baseline;
   list-style:none;
   border:0
}

body {
   background: radial-gradient(circle, rgba(157,12,53,1) 0%, rgba(69,1,24,1) 100%);
}

h1 {
   font-family: 'DM Sans', sans-serif;
   color: #ededed;
}

h2 {
   font-family: 'DM Sans', sans-serif;
}

.titulo {
   display: flex;
   align-items: center;
   justify-content: center;

   padding: 2rem;
   text-align: center;
   font-size: 1.2rem;
}

.titulo img {
   width: 45px;
   margin-left: 20px;
}

#times-container{
   display: grid;
   padding: 1rem;
   grid-template-columns: repeat(4, 15rem);
   grid-template-rows: 1fr;

   column-gap: 3.5rem;
   row-gap: 1rem;
   justify-content: center;
   justify-items: stretch;
}

.grupos {
   padding: 1rem;
   border-radius: 0.5rem;
   text-align: center;
}

.grupos h2{
   padding: 1rem 0;
   text-align: center;
   color: #ededed;
}

.grupos div {
   background: white;
    padding: 5px 10px;
    margin-bottom: .3rem;
    border-radius: 0 5px;
}

.grupos p {
   text-align: center;
   font-family: 'Poppins', sans-serif;
}

/* ======= RESPONSIVO ======= */

@media (max-width: 1200px){
   #times-container{
      grid-template-columns: repeat(2, 15rem);
   }
}

@media only screen and (max-width: 600px){
   #times-container{
      grid-template-columns: repeat(1, 15rem);
   }
}

